/*
 * SPDX-FileCopyrightText: 2022 Andrea Laisa (amreo) <amreo@linux.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.article {
    background-color: coral;
    display: grid;
    grid-template-rows: 3em 3em 3em 200px 2em;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.article div {
    border: 1px solid gray;
    padding: 2px;
}

.article .article-id {
    grid-column: 1 / 1;
}

.article .article-status {
    grid-column: 2 / 2;pizzapereticadigitale
}
.article .article-link {
    grid-column: 3 / 7;
}

.article .article-link a {
    display: block;
}

.article .article-approval {
    grid-column: 5 / 7;
}

.article .article-details {
    grid-column: 2 / 7;
    text-align: center;   
    background: rgb(34,195,173);
    background: linear-gradient(328deg, rgba(34,195,173,1) 0%, rgba(253,232,45,1) 100%); 
}

.article .article-details:hover {
    background: rgb(28,152,135);
    background: linear-gradient(328deg, rgba(28,152,135,1) 0%, rgba(177,162,30,1) 100%); 
}


.article .article-details a {
    display: block;    
}

.article .article-last-comment-header {
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    text-align: center;
}

.article .article-last-comment {
    grid-row: 4 / 4;
    grid-column: 1 / 4;
    overflow-y: scroll;
}

.article .article-last-summary-header {
    grid-row: 3 / 3;
    grid-column: 4 / 7;
    text-align: center;
}

.article .article-last-summary {
    grid-row: 4 / 4;
    grid-column: 4 / 7;
    overflow-y: scroll;
}

.disabled {
    background-color: gray;
}

.attention {
    color: blue;
    font-weight: bolder;
    animation: blink2 1s linear infinite;
}

@keyframes blink2 {
    0% {
      opacity: 1;
      color: blue;
    }
    50% {
      opacity: .5;
      color: yellowgreen;
    }
    100% {
      opacity: 1;
      color: blue;
    }
  }

#article-info {
    background-color: coral;
    display: grid;
    grid-template-rows: 3em 3em;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#article-info div {
    border: 1px solid gray;
    padding: 2px;
}

#article-info-link {
    grid-column-start: 3;
    grid-column-end: 7;
}

#article-info-approval-info {
    grid-column: 5 / span 2;
}

#article-info-tag-list {
    grid-column: 1 / 7;
}

.approval {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    height: 30px;
    font-size: large;
}

.approval--2 {
    background-color: red;
}
.approval--1 {
    background-color: lightpink;
}
.approval-0 {
    background-color: yellow;
}
.approval-1 {
    background-color: lightgreen;
}
.approval-2 {
    background-color: green;
}
.approval- {
    background-color: darkgray;
}

.event {
    background-color: skyblue;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    color: blue
}

.event-header {
    display: flex;
    flex-wrap: nowrap;
    background-color: aqua;
}

.event-header div {
    padding: 10px;
}

.event-user {
    color: red;
    font-weight: bolder;
    background-color: aqua;
}

.event div {
    border: 1px solid black;
}

.event-createdAt {
    margin-left: auto;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}

.event-text {
    padding-left: 10px;
}

.queued-article {
    background-color: yellow;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    height: 30px;
    font-size: large;   
}

#status-indicator-container {
    border: 1px solid black;
}

#status-indicator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.indicator {
    fill: #bebebe;;
}

.indicator-enabled {
    fill: cornflowerblue;
}

.indicator-active {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
      fill: cornflowerblue;
    }
    50% {
      fill: rgb(73, 130, 236);
    }
    100% {
      fill: cornflowerblue;
    }
}


#propose-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#propose-form > * {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#propose-form-comment {
    height: 20em;
}

#propose-form-propose {
    background-color: coral;
    font-size: larger;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    
}

#menu {
    display: flex;
    background-color: cornflowerblue;
    border: 2px solid crimson;
    height: 32px;
    font-size: large;
}

#menu-username {
    margin-left: auto;
    background-color: crimson;
}

#menu-username:hover {
    background-color: red;
}

.menu-item {
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.menu-item:hover {
    background-color: orange;
}

#menu-propose a {
    width: max-content;
    height: max-content;
}

.article-pubblicato {
    background-color: limegreen;
}

.article-proposto, .article-approvato, .article-in-lavorazione {
    background-color: gold;
}

.article-scartato {
    background-color: lightgrey;
    color: gray;
    grid-template-rows: 3em 3em 2em;
}

.article-scartato .article-details {
    background: gray;
}

/* .article-approve {
    grid-column-start: 1;
    grid-column-end: 3;
} */

textarea {
    width: 100%;
    height: 200px;
}