<div>
    <h2>Cambia stato (forzatamente)</h2>
    <form method="POST">
        <input type="hidden" id="type" name="type" value="cambio-stato">

        <label for="state">Nuovo stato:</label>
        <select id="state" name="state">
            <option value="proposto">proposto</option>
            <option value="approvato">approvato</option>
            <option value="in-lavorazione">in-lavorazione</option>
            <option value="pubblicato">pubblicato</option>
            <option value="scartato">scartato</option>
        </select> 

        <button type="submit">Fatto!</button>
    </form>
</div>