<div>
    <h2>Commentare</h2>
    <form method="POST">
        <input type="hidden" id="type" name="type" value="commento">
        <label for="comment"><b>Commento</b></label>
        <textarea name="comment"></textarea>

        <button type="submit">Fatto!</button>
    </form>
</div>
