<div>
    <h2>Approvazione riassunto</h2>
    <form method="POST">
        <input type="hidden" id="type" name="type" value="approvazione-riassunto">

        <label for="value">Valore:</label>
        <select id="value" name="value" value=1>
            <option value=0>Non OK</option>
            <option value=1 selected>OK</option>
        </select> 

        <label for="comment"><b>Commento</b></label>
        <textarea name="comment"></textarea>

        <button type="submit">Fatto!</button>
    </form>
</div>
